
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
*.dll
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
*.pdb
*.exe
*.config
*.cache
UnitTestProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTestProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTestProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTestProject/obj/Debug/UnitTestProject.csproj.CopyComplete
UnitTestProject/obj/Debug/UnitTestProject.csproj.FileListAbsolute.txt
UnitTestProject/UnitTest.cs
UnitTestProject/UnitTest.cs
UnitTestProject/UnitTestProject.csproj
X_O_Game/.vs/X_O_Game/lut/0/0/UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
*.xml
*.lut
*.CopyComplete
*.txt
X_O_Game/.vs/X_O_Game/lut/0/i/X_O_Game/Debug/MainWindow.g.cs
*.baml
*.resources
*.lref
*.lutdata
X_O_Game/.vs/X_O_Game/lut/1128/i/X_O_Game/Debug/MainWindow.g.cs
X_O_Game/.vs/X_O_Game/lut/1128/i/X_O_Game/Debug/App.g.cs
X_O_Game/.vs/X_O_Game/lut/0/i/X_O_Game/Debug/App.g.cs
X_O_Game/.vs/X_O_Game/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
X_O_Game/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
X_O_Game/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
X_O_Game/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.props
*.targets
*.nupkg
